$white: #F8F8F8;
$downy: #76d7c4;
$black: #000000;
$gray:#60605B;
$body-bg: lightblue;
$body-color: black;
$primary: #206960;
$secondary:#45A49A;
$danger: red;
$btn:#7258AB;
// tipos
$bug:#88960D;
$dark:#3C2D23;
$dragon:#43328F;
$electric:#E79302;
$fairy:#E08EE0;
$figth:#5F2311;
$fire:#C72100;
$flying:#5E74D4;
$ghost:#4A4A98;
$grass:#277801;
$ground:#AD8C32;
$ice:#6DD3F5;
$normal:#AFA796;
$poison:#6D2470;
$psychic:#DD3165;
$rock:#9E853D;
$steel:#8E8E9E;
$water:#0C67C2;